/* google */
#main div[jscontroller] div[role="list"],
#main div[jscontroller] div[data-noaftde] {
  visibility: hidden;
}

/* bing */
/* yahoo */
header nav ul {
  visibility: hidden;
}

.hidden-tab {
  display: none !important;
}