/* google */
#main div[data-st-cnt="fb"] div[jscontroller] div[role="list"] {
  visibility: hidden;
}

/* bing */
/* yahoo */
header nav ul {
  visibility: hidden;
}

.hidden-tab {
  display: none !important;
}